{{extend 'layout.html'}}


<div class="row">
  <div class="col-md-12">
    <h2>Anotar Presença</h2>
    <h3>{{=user_name}}</h3>
  </div>
  <div class="col-md-12">    
    {{=form}}
 </div>
  <div class="col-md-12">
    <button onclick="getLocation()" class="btn btn-info">Preencher Localização</button>
    <p id="resp_loc"></p>
 </div>
</div>





<script>
var x = document.getElementById("resp_loc");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Lat: " + position.coords.latitude.toFixed(4) + 
  " - Long: " + position.coords.longitude.toFixed(4);
  $("#presenca_geo_x").val(position.coords.latitude);
  $("#presenca_geo_y").val(position.coords.longitude);
    
}
function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}
    
getLocation();
</script>
