{{extend 'bs3_carrousel.html'}}
  {{block head }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {{ end }}
  {{block menu }}
    <div class="navbar-wrapper navbar-fixed-top-top">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{=URL('default','index')}}">
                     <img width="25" class="pull-left" src="{{=URL('static','images/logo_vdt_icone_tr.png')}}"/></img>
                     <span style="margin-left: 15px;">
                         VDT
                </span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{=URL('default','index')}}">Home</a></li>
                <li><a href="{{=URL('media','index')}}"><span class='btn btn-vdt btn-xs'><i class="bi bi-archive"></i> Arquivo</span></a></li>
                <li><a href="{{=URL('media','shiurim')}}"><span class='btn btn-vdt btn-xs'><i class="bi bi-search"></i> Busca</span></a></li>
                <li><a href="{{=URL('default','index', args='links')}}"><span class='btn btn-vdt btn-xs'><i class="bi bi-link"></i> Links</span></a></li>
                <li><a href="#sistemas">Assuntos</a></li>
                <li><a href="#destaques">Destaques</a></li>
                {{ if auth.has_membership("admin"):}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{=URL('media','index')}}">Shiurim</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Outros</li>
                    <li><a target="_blank" href="{{=URL('grade','manage', vars={'tbl':'conteudo','tit':'conteudo','url':'None',})}}">Administração</a></li>
                  </ul>
                </li>
                {{ pass }}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{if 'auth' in globals():}}


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                     {{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}


                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">

                      {{if auth.user:}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a></li>
                      {{if 'change_password' not in auth.settings.actions_disabled:}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a></li>
                      {{pass}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a></li>
                      {{else:}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a></li>
                      {{if 'register' not in auth.settings.actions_disabled:}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a></li>
                      {{pass}}
                      {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
                      <li><a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a></li>
                      {{pass}}
                      {{pass}}

                  </ul>
                </li>
              </ul>
                {{pass}}
            </div>
          </div>
        </nav>

      </div>
    </div>
  {{ end }}


  {{block carousel}}
  <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
    <ol class="carousel-indicators">
      {{for i in range(len(crs)):}}
        {{if i ==0:}}
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {{else:}}
          <li data-target="#myCarousel" data-slide-to="{{=i}}"></li>
        {{pass}}
      {{pass}}
    </ol>


	  <div class="carousel-inner" role="listbox">
      {{loops_cr=0}}

      {{ for c in crs:}}

      <div class="item {{='active' if loops_cr==0 else''}}">

        {{if c.imagem:}}
		   <img class="first-slide" src="{{=URL('static','files', args=c.imagem)}}" alt="First slide">

        {{else:}}
           <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
        {{pass}}



        <div class="container">
          {{if c.texto_escuro :}}
              <div class="carousel-caption carousel-dark-text text-left">
          {{else:}}
              <div class="carousel-caption text-left">
          {{pass}}
            <h1 {{="style=color:black;" if c.texto_escuro else ""  }}>{{=c.titulo or ''}}</h1>
            <p {{="style=color:black;" if c.texto_escuro else ""  }}>{{=c.texto or ''}}</p>
			{{ if c.link : }}
            <p {{="style=color:black;" if c.texto_escuro else ""  }}  >
			    <a    class="btn btn-lg btn-primary"
				      href="{{=c.link if 'http' in c.link else '{}{}'.format('/',c.link) }}"
					  {{='target=_blank' if c.nova_guia else ''}}
			    >
				       {{= c.texto_botao or 'Acessar'}}
				</a>

			</p>

		    {{ pass }}
          </div>
        </div>
      </div>
        {{loops_cr+=1}}
      {{pass}}
    </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>


  </div><!-- /.carousel -->

  {{ end }}



  {{block marketing}}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  {{ if mkt:}}



  <!-- Wrap the rest of the page in another container to center all the content. -->

    <!-- bloco para dar um espaço depois do menu, apenas quando for no celular -->
    <div class="hidden-md hidden-lg">
        <br/><br/><br/>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      {{#=BEAUTIFY(request.env.path_info)}}
      {{#=BEAUTIFY(not request.is_https)}}
      {{loops_mk=1}}
      {{ for m in mkt: }}
      <div class="col-lg-4">

        {{if m.thumbnail or m.imagem:}}
          {{img = m.thumbnail or m.imagem }}
          {{ x =  "thumb" if m.thumbnail else "img" }}

			<a
			  href="{{=m.link if 'http' in m.link else "{}{}".format('/',m.link) }}"
	          {{='target=_blank' if m.nova_guia else ''}}

		   >
				<img src="{{=URL('static','files', args=img)}}" {{='class=img-circle' if m.redondo else '' }} width="140" height="140" alt="Italian Trulli" role="img" >
		   </a>
          <!--<img src="{{=URL('static','images/image.file/', args=img)}}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Italian Trulli" role="img" > -->

        {{else:}}


        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        {{ pass }}

        <h2>{{=m.titulo or ''}}</h2>
        <p>{{=m.resumo or m.texto or ''}}</p>
        <p><a
		      class="btn btn-default"
			  href="{{=m.link if 'http' in m.link else "{}{}".format('/',m.link) }}"
	          {{='target=_blank' if m.nova_guia else ''}}

		   >
		   	 {{= c.texto_botao or 'Acessar'}} &raquo;
		   </a>
		</p>
      </div><!-- /.col-lg-4 -->
	  {{ if   loops_mk==3:}}
	      </div>
		  <div class="row">
	     {{ loops_mk=0}}
	  {{ pass }}

	  {{ loops_mk += 1 }}
      {{ pass }}
    </div><!-- /.row -->

    {{ pass }}

{{ end }}






{{ block featurette }}
    <hr class="featurette-divider">
      {{left=True}}
      {{ for f in ftr: }}


    <div class="row featurette">
      <div class='{{="col-md-7 col-md-push-5" if left else "col-md-7"}}'>
        <h2 class="featurette-heading">{{=f.titulo or ''}}</h2>
        <p class="lead">{{=f.texto or ''}}</p>
      </div>
      <div class='{{="col-md-5 col-md-pull-7" if left else "col-md-5"}}'>
       {{if f.imagem:}}
           <img src="{{=URL('static','files', args=f.imagem)}}" class="featurette-image img-responsive center-block" width="500" height="500" alt="Italian Trulli" role="img" >
       {{ else: }}
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
       {{ pass }}
      </div>
    </div>

    <hr class="featurette-divider">
      {{ left = not left }}
      {{ pass }}



{{ end }}


{{block page_js}}

<script>
   //$(".carousel-control").css("opacity","0.1");

</script>

{{end page_js}}


{{block page_css}}

    .carousel-inner .item img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }



    .btn-vdt {
        color: #000;
        background-color: #f7dca6;
        border-color: #fff0cf;
    }

    .btn-vdt:hover {
        background-color: #f9c968 ;
    }

{{end page_css}}
