{{pres = content['presenca']}}
{{dia_mes_aula = content['dia_mes_aula'] }}
<table class="table table-sm">
                {{ for aluno in content['alunos']:}}

                   <tr>{{if aluno.aniversario:}}
                           {{niver_aluno = "{}-{}".format(str(aluno.aniversario.month).zfill(2), str(aluno.aniversario.day).zfill(2)) }}
                       {{else:}}
                           {{niver_aluno = "-"}}
                       {{pass}}
                       {{niver = """<span style="font-size: 28px;color: FireBrick;"><i class="fa fa-gift "></i></span>"""}}
                       {{nvr = XML(niver) if niver_aluno == dia_mes_aula else ""}}
                       <td><a href="{{=URL('pessoa','index', args=[aluno.id])}}"> {{ =aluno.nome}} {{=nvr}}</a></td>
                       <td class="hora-td"><input id="hr-{{=aluno.id}}"
                                  class="hora-presenca"
                                  type='time'
                                  value='{{ =pres.get(aluno.id, {}).get('horario',"")}}'/>


                           <span data-id='{{ =pres.get(aluno.id, {}).get('id',"")}}'  aluno-id="{{=aluno.id}}" class='btn-aluno inicio btn  btn-sm btn-info'>
                           <i class="fa fa-check"></i>
                           </span>
                           {{if pres.get(aluno.id, {}).get('id',""):}}
                               <span data-id='{{ =pres.get(aluno.id, {}).get('id',"")}}'
                                     aluno-del-id="{{=aluno.id}}"
                                     class='btn-aluno-del btn  btn-sm btn-danger'>
                               <i class="fa fa-times-circle"></i>
                               </span>

                           {{ pass }}
                       </td>
                       {{if pres.get(aluno.id, {}).get('id',""):}}
                         {{disabled = ""}}
                      {{else:}}
                         {{disabled = "disabled"}}
                       {{ pass }}

                       <td class="hora-td"><input id="hr-fim-{{=aluno.id}}"
                                  class="hora-presenca-fim"
                                  type='time'
                                  value='{{ =pres.get(aluno.id, {}).get('horario_fim',"")}}'
                                        {{=disabled }}
                                                  />

                           {{if pres.get(aluno.id, {}).get('id',""):}}
                               <span data-id='{{ =pres.get(aluno.id, {}).get('id',"")}}'  aluno-id="{{=aluno.id}}" class='btn-aluno fim btn  btn-sm btn-info'>
                                   <i class="fa fa-check"></i>
                               </span>
                               <span data-id='{{ =pres.get(aluno.id, {}).get('id',"")}}'
                                     aluno-del-id="{{=aluno.id}}"
                                     class='btn-aluno-del-fim btn  btn-sm btn-danger'>
                               <i class="fa fa-times-circle"></i>
                               </span>

                           {{ pass }}

                       </td>
                    </tr>
                {{pass}}

                </table>
            </div>
            <div id="ret"></div>
          </div>


<script>
    $(".hora-td").css("white-space","nowrap");

    $(".hora-presenca").css({'width':'78px', 'height':'32px'});
    $(".hora-presenca-fim").css({'width':'78px', 'height':'32px'});

    $(".hora-presenca").dblclick(function(){
       const current = new Date();
       const hora_aula = "{{=content['hora_aula_hj']}}";
       const time = current.toLocaleTimeString().substring(0,5);
       const time_class = hora_aula.substring(0,5);
       $(this).val(time_class);
       btn_warning(this);
    });

    $(".hora-presenca-fim").dblclick(function(){
       const current = new Date();
       const time = current.toLocaleTimeString().substring(0,5);
       $(this).val(time);
       btn_warning(this);
    });
    function btn_warning(t){
      $(t).closest("td").find('.btn-aluno').removeClass('btn-info').addClass('btn-warning');
    }

    function btn_info(t){
      $(t).closest("td").find('.btn-aluno').removeClass('btn-warning').addClass('btn-info');
    }

    $(".hora-presenca").on("change keyup", function(){
       btn_warning(this);
    })


    $(".btn-aluno").on('click', function(){
         var txt = "";
         var t = $(this);
         var id_aluno = $(this).attr('aluno-id') || "0"
         var aula = $("#qual-shiur").val();
         var hora = $("#hr-"+id_aluno).val();
         var hora_fim = $("#hr-fim-"+id_aluno).val() || "";
         var data = $("#data-shiur").val();
         var data_id = $(this).attr('data-id') || "0"

         txt = "Aluno " + id_aluno + " data " + data + " hora " + hora+ " aula " + aula;
         if(hora.length>0){
             //alert(txt);
             var params = id_aluno + "/" + data + "/" + hora + "/" + aula +"/" + data_id+"/" + hora_fim
             //web2py_component('../core/trata_pres/'+params, 'ret');
             //ajax('../core/trata_pres/',[params, 'ret');

            $.get( '../core/trata_pres/'+ params, function( data ) {
              //alert( "Data Loaded: " + data.id );
              notyf.success("Presença salva: ( " + data.ret  +" )" );
              var botao = `<span data-id="`+  data.id +`" aluno-del-id="`+ id_aluno +`" onclick='del_aluno("` + data.id + `", "`+ id_aluno +`")' class="btn-aluno-del btn  btn-sm btn-danger"><i class="fa fa-times-circle"></i></span>`;

              var botao_del_fim = `<span data-id="`+  data.id +`" aluno-del-id="`+ id_aluno +`" class='btn-aluno-del-fim btn  btn-sm btn-danger'>                                <i class="fa fa-times-circle"></i></span>`

              var botao_fim = `<span data-id="`+  data_id +`"
                                     aluno-id="`+ id_aluno +`"
                                     class="btn-aluno-fim btn-aluno fim btn  btn-sm btn-info">
                                        <i class="fa fa-check"></i>
                                </span>`;

              //alert(botao);
              $("[aluno-del-id="+id_aluno+"]").remove();


              if ($(t).hasClass('inicio')) {
                  $(botao_fim).insertAfter($("[id=hr-fim-"+id_aluno+"]"));
                  $(botao).insertAfter($("[aluno-id="+id_aluno+"]"));
                  //alert('tem classe inicio');
              } else {
                  //alert('nao tem classe inicio');
                  $(botao_del_fim).insertAfter($("[aluno-id="+id_aluno+"]"));
              }
              $("[id=hr-fim-"+id_aluno+"]").prop('disabled', false);

              $("[aluno-id="+id_aluno+"]").removeClass('btn-warning').addClass('btn-info');

              $("[aluno-del-id="+id_aluno+"]").addClass('ml-1');

              $(".hora-td").css("white-space","nowrap");

              //$( botao ).insertAfter( this );
            });


         }else{
            $("#hr-"+id_aluno).dblclick();
         }


    })


    $(".btn-aluno-del").on("click", function(){
       var id_pres = $(this).attr("data-id");
       var id_aluno = $(this).attr("aluno-del-id");
       del_aluno(id_pres, id_aluno)
    })

    $(".btn-aluno-del-fim").on("click", function(){
       var id_pres = $(this).attr("data-id");
       var id_aluno = $(this).attr("aluno-del-id");
       $("#hr-fim-"+id_aluno).val("");
       $('[aluno-id="'+id_aluno+'"].btn-aluno.fim').click();
       $(this).remove();
       //del_aluno(id_pres, id_aluno)
    })
    function del_aluno(id_pres, id_aluno){
       $.get('../core/del_pres/'+ id_pres, function(data){
           if(data.erros==""){
               notyf.success("Presença apagada (" + id_pres + ")" );
               $("#hr-"+id_aluno).val("");
               //$(".btn-aluno-del[data-id="+id_pres+"]").remove();
               $("[id=hr-fim-"+id_aluno+"]").prop('disabled', true);
           }else{
               notyf.error("Deu ruim" );
           }
       })
    }

</script>
