# Arquivos de Compilação do Python
##################################
*.pyc
__pycache__/

# Logs de Execução e Arquivos Temporários
#########################################
logs/
sessions/
errors/
languages/pt-br.py
languages/
*.log
*.out
*.bak
*.1
*.py.bak
*.html.bak
*.css.bak
*.js.bak

# Bancos de Dados e Backups Web2py
#################################
*.sqlite
*.db
databases/
sql.log
routes.example.py

# Arquivos de Mídia e Conteúdo Binário Grande
#############################################
static/files/           # Ignora TUDO dentro da pasta files/
static/teste/           # Se essa for uma pasta de teste co

*.vtt
*.mp4
*.mp3
*.m4a
*.MOV
