# Arquivos de Compilação do Python
##################################
*.pyc
__pycache__/

# web2py - Pastas de Log e Sessão (INCLUI ERROS)
#################################
logs/        # <-- Esta linha ignora todos os logs, incluindo os de erro.
sessions/
errors/


# web2py - Banco de Dados (SQLite)
#################################
*.sqlite
*.db
*.bak
*.vtt
*.mp4

# web2py - Arquivos de Upload e Mídia
####################################
uploads/
private/
applications/*/uploads/
static/files/

# web2py - Arquivos de Cache
##############################
applications/*/compiled/
applications/*/cache/
