{{extend 'layout.html'}}
<script src="https://www.youtube.com/iframe_api"></script>
<h1>This is the toca_yt_new.html template</h1>


<div id="youtube-player"></div>
<div id="subtitles"></div>



<script>
    
let player;
let captions = [];

// Initialize YouTube Player
function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtube-player', {
        height: '360',
        width: '640',
        videoId: 'kCIWFI0ZPo0', // Replace with your YouTube video ID
        events: {
            'onStateChange': onPlayerStateChange
        }
    });
}

// Event handler for the YouTube player's state change
function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
        setInterval(updateCaption, 500); // Update captions every 500 milliseconds
    }
}

// Fetch and parse VTT content
fetchVTTContent('init/uploads/legenda.arquivo.86a1a5e2935ae922.MjAyNDAxMjIxMzM2MDAzNzQuc3J0.srt').then(vttContent => {
    captions = parseVTT(vttContent);
});

// Function to fetch VTT content
async function fetchVTTContent(vttPath) {
    try {
        const response = await fetch(vttPath);
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return await response.text();
    } catch (error) {
        console.error("Failed to fetch VTT file:", error);
        return '';
    }
}

// Function to parse VTT content
    
function parseVTT(vttString) {
  let captions = [];
  let lines = vttString.split('\n');
  let timecodeRegex = /(\d{2}:\d{2}:\d{2}\.\d{3}) --> (\d{2}:\d{2}:\d{2}\.\d{3})/;

  for (let i = 0; i < lines.length; i++) {
    let timecode = timecodeRegex.exec(lines[i]);
    if (timecode && i + 1 < lines.length) {
      let startTime = convertToSeconds(timecode[1]);
      let endTime = convertToSeconds(timecode[2]);
      let text = lines[++i].trim();
      captions.push({ startTime, endTime, text });
    }
  }

  return captions;
}

function convertToSeconds(timecode) {
  let parts = timecode.split(':');
  let seconds = parseInt(parts[0]) * 3600 + parseInt(parts[1]) * 60 + parseFloat(parts[2]);
  return seconds;
}

    

// Function to update captions
function updateCaption() {
    let currentTime = player.getCurrentTime();
    let caption = findCaptionForTime(captions, currentTime);
    displayCaption(caption);
}

// Function to find caption for the current time
   
function findCaptionForTime(captions, currentTime) {
  return captions.find(caption => currentTime >= caption.startTime && currentTime <= caption.endTime) || { text: '' };
}


// Function to display captions
function displayCaption(caption) {
    document.getElementById('subtitles').innerText = caption.text;
}

    
    
</script>
