{{extend 'layout.html'}}

{{block head}}
    <link rel="stylesheet" href="{{ =URL('static', 'plugins/bootstrap-select', args=['bootstrap-select.min.css']) }}">
{{end}}



{{block page_js}}
    <script src="{{=URL('static','plugins/bootstrap-select', args=['bootstrap-select.min.js'])}}"></script>
{{end page_js}}


<div class="wrapper">
  <select multiple class="selectpicker" data-actions-box="true">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</div>
<div class="wrapper">
  <select id="second" name="ranktypeselect[]" multiple="multiple" size="5" class="selectpicker" data-actions-box="true">
    <optgroup label="OFF">
      <option>QB</option>
      <option>RB</option>
      <option>WR</option>
      <option>TE</option>
      <option>OL</option>
    </optgroup>
    <optgroup label="IDP">
      <option>NT</option>
      <option>DT</option>
      <option>DE</option>
      <option>DL</option>
      <option>DB</option>
      <option>LB</option>
      <option>SF</option>
      <option>CB</option>
    </optgroup>
    <optgroup label="ETC">
      <option>K</option>
      <option>P</option>
      <option>LS</option>
      <option>D/ST</option>
    </optgroup>
  </select>
</div>



{{block script}}
$('.selectpicker').selectpicker({
  width: "300px",
  actionsBox: true,
  selectAllText: 'Select all',
  deselectAllText: 'Deselect all'
});
{{end script}}



{{block style}}
body {
  padding: 1em;
}
.wrapper + .wrapper {
  margin-top: 20px;
}
{{ end style }}
